<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument
                name="commands" xsi:type="array">
                <item name="mikaAddItem" xsi:type="object">Mika\HelloWorld\Console\Command\AddItem</item>
            </argument>
        </arguments>
    </type>
    <preference for="Mika\HelloWorld\Api\Data\ItemInterface" type="Mika\HelloWorld\Model\Item"/>
    <preference for="Mika\HelloWorld\Api\ItemRepositoryInterface" type="Mika\HelloWorld\Model\ItemRepository"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument
                name="collections" xsi:type="array">
                <item name="mika_items_grid_data_source" xsi:type="object">Mika\HelloWorld\Model\ResourceModel\Item\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
